<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teoan.tclass.user.mapper.StudentMapper">

    <resultMap type="com.teoan.tclass.user.entity.Student" id="StudentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="nationId" column="nation_id" jdbcType="INTEGER"/>
        <result property="nativePlace" column="native_place" jdbcType="VARCHAR"/>
        <result property="politicId" column="politic_id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="posId" column="pos_id" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="AllStudentInfo" type="com.teoan.tclass.user.entity.Student" extends="StudentMap">
        <association property="role" column="role_id" javaType="com.teoan.tclass.user.entity.Role" select="getRole"/>
        <association property="nation" column="nation_id" javaType="com.teoan.tclass.user.entity.Nation"
                     select="getNation"/>
        <association property="politicsstatus" column="politic_id"
                     javaType="com.teoan.tclass.user.entity.Politicsstatus" select="getPoliticsstatus"/>
        <association property="position" column="pos_id" javaType="com.teoan.tclass.user.entity.Position"
                     select="getPosition"/>
        <collection property="departmentIdList" column="id" ofType="java.lang.Integer" select="getDepartmentIdList"/>
    </resultMap>


    <select id="getRole" resultType="com.teoan.tclass.user.entity.Role">
        select id, name, zh_name
        from tclass.role
        where id = #{role_id};
    </select>
    <select id="getNation" resultType="com.teoan.tclass.user.entity.Nation">
        select id, name
        from tclass.nation
        where id = #{nation_id}
    </select>
    <select id="getPoliticsstatus" resultType="com.teoan.tclass.user.entity.Politicsstatus">
        select id, name
        from tclass.politicsstatus
        where id = #{politic_id}
    </select>
    <select id="getPosition" resultType="com.teoan.tclass.user.entity.Position">
        select id, name
        from tclass.position
        where id = #{pos_id}
    </select>
    <select id="getDepartmentIdList" resultType="java.lang.Integer">
        select dId
        from tclass.stu_dep_ref
        where sId = #{id};
    </select>

    <insert id="updateDepartment" parameterType="java.util.List">
        insert into tclass.stu_dep_ref (sId, dId) VALUES
        <foreach item="item" collection="stuDepRefList" separator=",">
            (#{item.sId}, #{item.dId})
        </foreach>
    </insert>

    <delete id="deleteDepartmentBySid" parameterType="java.lang.Integer">
        delete
        from tclass.stu_dep_ref
        where sId = #{sId}
    </delete>


</mapper>