<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <appender name="TEOAN_LOG" class="io.github.teoan.log.core.appender.TeoanLogAppender"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TEOAN_LOG"/>
    </root>
</configuration>
